@import "https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/dark/main.css";

h1 {
    margin-left: 10px;
}
.v-table {
    border-radius: 10px;
}
.v-data-table {
    margin-top: 20px;
}
.v-card-actions .v-btn {
    background-color: #2196f3;
    width: 434px;
}
.summaryPage {
    margin: 10px;
}
#map-div {
    height: 100%;
    width: 100%;
}
.map-container {
    width: 100%;
    height: 100%;
}


